behaviors:
  CarAgent:
    trainer_type: ppo
    hyperparameters:
      batch_size: 256
      buffer_size: 50000
      learning_rate: 1e-4
      beta: 0.01
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 5
      learning_rate_schedule: linear
    network_settings:
      normalize: true
      hidden_units: 128
      num_layers: 2
    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0
      curiosity:
        strength: 0.02
        gamma: 0.99
    max_steps: 15000000
    time_horizon: 750
